
.login_layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    min-width: 100dvh;
}

.login_container {
    display: flex;
    gap: 10px;

    .img {
        background-color: red;
        flex: 1;
        min-height: 100px;
        min-width: 100px;
    }

    border-radius: 14px;
    box-shadow: 0 0 10px 0px #0000003a;
    padding: 20px;
}


.login_form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .form-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .submit {
            max-width: fit-content;
            padding: 6px 12px;
            border-radius: 7px;
            border: none;
            background-color: #0099ff;
            color: #FAFAFA;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 600;
        }

        .action_links {
            font-size: 0.8rem;
            color: #0099ff;

            .forgot_password, .register {
                text-decoration: underline;
            }
        }
    }


}